<div class="layout">

    <div class="leftcolumn">
        <div class="post" *ngFor="let post of posts">
            <div class="post-wrapper user-content">
                <div class="avatar">
                </div>
                <h3>{{post.userName}}</h3>
                <p>{{post.userFirstName}} {{post.userLastName}}</p>
                <p>Member since: <br> {{post.userRegistrationDate}}</p>
            </div>
            <div class="post-delimeter"></div>
            <div class="post-wrapper post-content">
                <p class="post-text">{{post.text}}</p>
                <div class="post-metadata">{{post.datePosted}}</div>
            </div>
        </div>    

        <div class="post">
            <mat-form-field class="add-post" appearance="fill" id="post-input">
                <mat-label style="color: white">Add a new post:)</mat-label>
                <textarea  id="new-post-text" matInput placeholder="Hello 👋" ></textarea>
            </mat-form-field>
            <button mat-stroked-button color="primary" (click)="send()">Send</button>
        </div>

    </div>

</div>

<div class="footer">
    <img src="assets/img/nekohd_agad0aeaat8fchk.png" alt="neko">
</div>