<div class="expansion-category">
    <button mat-raised-button color="basic" (click)="homePanels.openAll()">Expand All</button>
    <button mat-raised-button color="basic" (click)="homePanels.closeAll()">Collapse All</button>
</div>

<mat-accordion #homeaccordion="matAccordion" class="headers-align" multi>
  <mat-expansion-panel class="categories" *ngFor="let category of categories">
      <mat-expansion-panel-header>
          <mat-panel-title>
              {{category.name}} 
          </mat-panel-title>
          <mat-panel-description class="category-description">
              {{category.description}}
          </mat-panel-description>
          <mat-icon class="category-icon">pets</mat-icon>
      </mat-expansion-panel-header>

      <p class="full-description">
        {{category.description}}
      </p>

      <mat-card  *ngFor="let topic of category.topics" style="margin-top:11px;" class="topics">
          <mat-card-header>
              <mat-card-title>
                <button class="topic-link"  [routerLink]="['/topic']" [queryParams]="{ id: topic.id }">
                  {{topic.name}}
                </button>
              </mat-card-title>
          </mat-card-header>
          <mat-card-content class="topic-content">
              <p>
                  {{topic.description}}
              </p>
          </mat-card-content>
      </mat-card>

  </mat-expansion-panel>
</mat-accordion>
    
            
    
    
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
  
    </mat-expansion-panel>
    <mat-expansion-panel disabled>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Destination
        </mat-panel-title>
        <mat-panel-description>
          Type the country name
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Day of the trip
        </mat-panel-title>
        <mat-panel-description>
          Inform the date you wish to travel
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput> [matDatepicker]="picker" (focus)="picker.open()" readonly> 
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker> 
    </mat-expansion-panel> -->

