<mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Type topic name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input class="info-input" [(ngModel)]="data.topic.name" matInput formControlName="name" placeholder="Topic name" required>
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Type topic description</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input class="info-input" [(ngModel)]="data.topic.description" matInput formControlName="desc" placeholder="Topic description"
                 required>
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p class="info-input">You are now done.</p>
      <div>
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button mat-button color="primary" (click)="stopEditing()">Cancel</button>
        <button mat-button color="primary" (click)="sendPostToParent()">Confirm</button>
      </div>
    </mat-step>
</mat-vertical-stepper>