:root {
    --dark-background: #181818;
    --dark-border: rgba(255,255,255,0.1);
    --dark-primary-font: #ffffff;
    --dark-secondary-font: #dfdfdfff;
    --dark-logo-font: #f2f2f2;
    --dark-status-ok: rgb(41, 99, 41);
    --dark-status-error: #ab3030;
    --dark-panel: rgba(33, 33, 33, 0.95); 
    --dark-element: rgba(50, 50, 50);
}

.layout{
    color: var(--dark-secondary-font);
    width: 90%;
    margin: 20px auto;
}

.leftcolumn{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.post{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px; 
    background-color: var(--dark-element);
    padding: 10px;
    border-radius: 7px;
    border: solid 1px var(--dark-border);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.post .post-delimeter{
    width: 1px;
    border-right: solid 1px var(--dark-border);
    color: #00000090;
}

.post-wrapper{
    width: 100%;
}

.user-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    text-align: center;
    padding: 10px;
}

.user-content * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0;
}

.user-content p{
    font-size: 14px;
    line-height: 15px;
}

.user-content h3{
    color: var(--dark-primary-font);
}

.user-content .avatar{
    width: 150px;
    height: 150px;
    background-color: #ffffff20;
    border-radius: 50%;
    border: solid 1px var(--dark-border);
}

.post-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.post-content .post-text{
    margin-top: 0;
}

.post-reply{
    position: relative;
    margin: 20px 0px 10px 10px;
    background: #363636;
    border-left: solid 2px var(--dark-border);
    border-radius: 0px 7px 7px 7px;
    padding: 15px 10px;
}

.post-reply .replay-username{
    position: absolute;
    top: -24px;
    left: -2px;
    height: 20px;
    font-size: 14px;
    padding: 2px 15px 0px 15px;
    border-radius: 5px 5px 0px 0px;
    border-color: var(--dark-border);
    border-left: solid 2px var(--dark-border);
    border-top: solid 2px var(--dark-border);
    color: #ffffff60;
    background: #363636;
}

.post-reply .post-reply-text{
    /* display: inline-block; */
    /* text-overflow: ellipsis; */
    /* word-break: break-all; */
    word-break: break-word;
    /* overflow: hidden; */
    /* width: 100%; */
}

/* .post-content-header{
    width: 100%;
    display: flex;
    flex-direction: column;
} */

.post-content-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px var(--dark-border);
    padding-top: 5px;
}

.post-manage-buttons{
    display: flex;
    gap: 8px;
}

.post-content-footer .post-metadata{
    text-align: right;
    padding: 0;
    margin: auto 0;
    font-size: 14px;
}

.post-content-footer .post-button{
    /* text-align: right;
    vertical-align: text-top; */
    padding: 2px 20px;
    color: var(--dark-secondary-font);
    background-color: var(--dark-element);
    border: solid 2px var(--dark-border);
    border-radius: 3px;
    font-size: 14px;
}

.post-content-footer .post-button *{
    /* margin: auto 0; */
    vertical-align: middle;
}

.post-content-footer .post-button:hover{
    background-color: var(--dark-border);
}

@media screen and (max-width: 600px) {
    .post{
        flex-direction: column;
        align-items: center;
    }
}