<div class="layout">

    <div class="leftcolumn">
        <div class="post" *ngFor="let post of posts">
            <div class="post-wrapper user-content">
                <div class="avatar">
                </div>
                <h3>{{post.userName}}</h3>
                <p>{{post.userFirstName}} {{post.userLastName}}</p>
                <p>Member since: <br> {{post.userRegistrationDate}}</p>
            </div>
            <div class="post-delimeter"></div>
            <div class="post-wrapper post-content">
                <div class="post-content-header">
                    <div class="post-reply" *ngIf="post.replyToPostId">
                        <p class="replay-username">{{post.replyTo!.userName}}</p>
                        <span class="post-reply-text">{{post.replyTo!.text}}</span>
                    </div>
                    <p class="post-text">{{post.text}}</p>
                </div>
                <div class="post-content-footer">
                    <div class="post-manage-buttons">
                        <button *hasPermission="'Permission.Posts.Create'" class="post-button" (click)="reply(post)"><mat-icon>reply</mat-icon><span></span></button>
                        <button *hasPermission="'Permission.Posts.Edit'" class="post-button" (click)="edit(post)"><mat-icon>edit</mat-icon><span></span></button>
                        <button *hasPermission="'Permission.Posts.Delete'" class="post-button" (click)="delete(post.id!)"><mat-icon>delete</mat-icon><span></span></button>
                    </div>
                    <div class="post-metadata">{{post.datePosted}}</div>
                </div>
            </div>
        </div>    

        <app-post-editor *hasPermission="'Permission.Posts.Create'" (sendPost)="send()" [post]="post"></app-post-editor>
    </div>
</div>