<mat-sidenav-container style="height: 400px">
    <p style="padding: 40px;">
        A website that provides an online exchange of information between people about a particular topic. It provides a venue for questions and answers and may be monitored to keep the content appropriate.<br><br>
        Here you can communicate with other users on interesting topics, like topics about animals or educational themes. Send messages, read another messages to get useful information and have fun!🥳🥳🥳 
    </p>    
</mat-sidenav-container>
